<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exchange</h1>
    <p>{{exchange[0].ccy}} : {{exchange[0].base_ccy}} - {{exchange[0].buy}} : {{exchange[0].sale}}</p>
    <p>{{exchange[1].ccy}} : {{exchange[1].base_ccy}} - {{exchange[1].buy}} : {{exchange[1].sale}}</p>
    <p>{{exchange[2].ccy}} : {{exchange[2].base_ccy}} - {{exchange[2].buy}} : {{exchange[2].sale}}</p>
</body>
</html>