<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Основні ендпоінти</h1>
    <p>/get_report</p>
    <ul>
        <li>course</li>
        <li>grp</li>
        <li>lesson_type</li>
        <li>teacher</li>
        <li>lesson_theme</li>
        <li>lesson_duration</li>
        <li>lesson_date</li>
        <li>homework_number</li>
        <li>lesson_total</li>
        <li>additional_materials</li>
        <li>program_comments</li>
        <li></li>
    </ul>
</body>
</html>