<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Основні ендпоінти</h1>
    <p>/get_report GET</p>
    <ul>
        <li>course:str</li>
        <li>grp:str</li>
        <li>lesson_type:int</li>
        <li>teacher:str</li>
        <li>lesson_theme:str</li>
        <li>lesson_duration:int</li>
        <li>lesson_date:date</li>
        <li>homework_number:int</li>
        <li>lesson_total:str</li>
        <li>additional_materials:str</li>
        <li>program_comments:str</li>
    </ul>
    <p><a href="https://goiteens-postgresql.herokuapp.com/tmpl" target = _blank>Form Example</a></p>
    <p><a href="https://goiteens-postgresql.herokuapp.com/get_report?course=python&grp=Python01&lesson_type=1&teacher=Teacher+Name&lesson_theme=Lesson+name&lesson_duration=3&lesson_date=2022-10-17&homework_number=8&lesson_total=Total+Lesson&additional_materials=Additional+Materials&program_comments=Program+comments" target = _blank>Endpoint Example</a></p>
</body>
</html>