<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{text}}</h1>
    <form action="https://goiteens-postgresql.herokuapp.com/get_report">
    <p><label for="course">Курс</label><input type="text" name = "course" value = "python"></p>
    <p><label for="grp">Група</label><input type="text" name = "grp" value = "Python01"></p>
    <p><label for="lesson_type">Тип заняття</label><input type="text" name = "lesson_type" value = "1"></p>
    <p><label for="teacher">Викладач</label><input type="text" name = "teacher" value = "Teacher Name"></p>
    <p><label for="lesson_theme">Тема заняття</label><input type="text" name = "lesson_theme" value = "Lesson name"></p>
    <p><label for="lesson_duration">Тривалість уроку</label><input type="text" name = "lesson_duration" value = 3></p>
    <p><label for="lesson_date">Дата заняття</label><input type="text" name = "lesson_date" value = "2022-10-17"></p>
    <p><label for="homework_number">Кількість зданих завдань</label><input type="text" name = "homework_number" value = 8></p>
    <p><label for="lesson_total">Підсумки заняття</label><input type="text" name = "lesson_total" value = "Total Lesson"></p>
    <p><label for="additional_materials">Додаткові матеріалу для заняття</label><input type="text" name = "additional_materials" value = "Additional Materials"></p>
    <p><label for="program_comments">Коментарі до програми</label><input type="text" name = "program_comments" value = "Program comments"></p>
    <input type="submit" value = "send">
</form>
</body>
</html>