<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{text}}</h1>
    <form action="https://goiteens-postgresql.herokuapp.com/get_report">
    <p><label for="course"></label><input type="text" name = "course"></p>
    <p><label for="grp"></label><input type="text" name = "grp"></p>
    <p><label for="lesson_type"></label><input type="text" name = "lesson_type"></p>
    <p><label for="teacher"></label><input type="text" name = "teacher"></p>
    <p><label for="lesson_theme"></label><input type="text" name = "lesson_theme"></p>
    <p><label for="lesson_duration"></label><input type="text" name = "lesson_duration"></p>
    <p><label for="lesson_date"></label><input type="text" name = "lesson_date"></p>
    <p><label for="homework_number"></label><input type="text" name = "homework_number"></p>
    <p><label for="lesson_total"></label><input type="text" name = "lesson_total"></p>
    <p><label for="additional_materials"></label><input type="text" name = "additional_materials"></p>
    <p><label for="program_comments"></label><input type="text" name = "program_comments"></p>
    <input type="submit" value = "send">
</form>
</body>
</html>